table{
    width: 20%;
    table-layout: fixed;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}
td{
    border: 2px solid #000000;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}
td:hover{
    background-color: #fff891;
    cursor: pointer;
}
.marked{
    background-color: #fff891;
}

